


/* Color for single progressbar. */
#pb0::-webkit-progress-value
{
    background: #ffffff;
    box-shadow : 0px 0px 10px 0px #ffffff;
}

/* Color for multiple progressbars, #1 */
#pb1::-webkit-progress-value
{
    background-color: rgb(0, 0, 0);
}

/* Color for multiple progressbars, #2 */
#pb2::-webkit-progress-value
{
    /*background-color: rgb(102, 194, 255);*/
    background-image: repeating-linear-gradient(to left, rgb(0,0,0), rgb(0,0,0));
	background-size: 200% 200%;
	background-position: 100% 100%;
}

/* Color for multiple progressbars, #3 */
#pb3::-webkit-progress-value
{
    /*background-color: rgb(102, 194, 255);*/
    background-image: repeating-linear-gradient(to right, rgb(0,0,0), rgb(0,0,0));
	background-size: 200% 200%;
	background-position: 100% 100%;
}

/* Color for multiple progressbars, #4 */
#pb4::-webkit-progress-value
{
    background-color: rgb(0, 0, 0);
}

/* Color for multiple progressbars, #5 */
#pb5::-webkit-progress-value
{
    background-color: rgb(255, 239, 177);
}
