body{
  background: url(https://cdn.discordapp.com/attachments/767882860992397323/837066377336061962/Baslksz-fg.png) no-repeat;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #fff;
  text-align: center;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

h5 {
  color: #fff;
}

h6 {
  color: #fff;
}

 a {
   color: #fff;
   text-decoration: none;
   font-family: 'Lexend Deca', sans-serif;
 }

 a:visited {
  color: #efc20f;
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
 }

audio {
  color: #0066ff;
  position: fixed;
  top: 520px;
  right: 808px;
}

.title {
  color: #fff;
  position: fixed;
  top: 340px;
  right: 742px;
  font-size: 40px;
  font-family: 'Lexend Deca', sans-serif;
}

.dairesel {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #0d1117;
  position: fixed;
  top: 100px;
  right: 830px;
  transition: all 0.3s;
  background: url(https://cdn.discordapp.com/attachments/693624858323583026/799041112492474398/250x250.png) no-repeat;
  }

.dairesel:hover {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #0066ff;
  position: fixed;
  top: 100px;
  right: 830px;
  background: url(https://cdn.discordapp.com/attachments/693624858323583026/798852674979758080/250x250.gif) no-repeat;
  }

.button {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #efc20f;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 2px;
  transition-duration: 0.4s;
  float: right 20px;
  position: fixed;
  top: 450px;
  float: left 10px;
}
  
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button.discord {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #829df8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 826px;
}

.button.discord:hover {
  color: #fff;
  background-color: #7289da;
}

.button.api {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #00a9f6;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 932px;
}

.button.api:hover {
  color: #fff;
  background-color: #0093d5;
}

.button.github {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #00a9f6;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 1010px;
}

.button.github:hover {
  color: #fff;
  background-color: #0093d5;
}

.loader {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #06090f;
}