@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");

body {
  background: #2e2e2e;
  overflow-x: hidden !important;
}


header {
  background: #03a9f4;
  width: 1910px;
  height: 250px;
}

section {
  background: #2e2e2e;
}

article {
  background: #151515;
  width: 1910px;
  height: 15px;
}

a {
  color: #2bb264;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
}


h1 {
  color: #3892d0;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

h5 {
  color: #fff;
}

h6 {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.banner {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  text-shadow: 5px 6px 1px rgba(0,0,0, 0.2);
  position: relative;
  text-align: right;
  top: 50px;
  left: -670px;
}

.bannertext {
  color: #3892d0;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  text-shadow: 3px 2px 1px rgba(0,0,0, 0.2);
  position: relative;
  text-align: right;
  top: 15px;
  left: -760px;
}

.title {
  color: #3892d0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: left;
  text-shadow: 3px 2px 1px #000;
  position: relative;
  top: 0px;
  left: 540px;
}

.titletext {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  position: relative;
  text-align: left;
  top: 0px;
  left: -10px;
}

.about_content {
  color: #3892d0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
}

.btn1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background-color: #efc20f;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  top: 0px;
  left: -5px;
}

.btn2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background-color: #7e8b8c;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  top: 0px;
  left: -5px;
}

.btn3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background-color: #3497da;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  top: 0px;
  left: -5px;
}

.space {
  color: #2e2e2e;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
}

.space2 {
  color: #03a9f4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
}

.footer {
  background: #454545;
  color: #fff;
  padding: 10px 0;
}

.footer.copyright {
  line-height: 1.6;
  color: #fff;
  font-size: 14px;
}

.footer a {
  color: #1f9bc2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-shadow: 3px 2px 1px #000;
}

.footer .fa-heart {
  color: #fb866a;
}

@keyframes dash{
   0%, 30%{
     fill: 4B4B62;
    stroke-dashoffset:   0;
  }
   80%,100%{
     fill: transparent;
    stroke-dashoffset:  -200;
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2e2e2e;
  display:flex;
  justify-content: center;
  align-items: center;
}

.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #2e2e2e;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

#button {
  display: inline-block;
  background-color: #4757dd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #4d4ade;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }

  #button {
    margin: 30px;
  }
}

.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}

.content h3 {
  font-style: italic;
  color: #96a2a7;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d1117;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06090f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #06090f;
}

.bannerimg {
  position:absolute;
  left:692px;
  top:55px;
  }