@import url('https://rsms.me/inter/inter.css');

* {
    transition: all .1s ease-out;
}

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal){
    html {
        font-family: 'Inter var', sans-serif;
    }
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #10141a;
}

.bg-color {
    background-size: cover;
    backdrop-filter: blur(10px);
    background-color: var(--bg-color);
}

.main-text-color {
    color: var(--main-text-color);
}

.description-color {
    color: var(--description-color);
}

.social-button-color {
    color: var(--social-button-color);
}

.spotify-content-img {
    max-width: 70px;
    min-width: 70px;
}

.social-button:hover {
	color: var(--social-button-color-op);
}

.navbar-item:hover {
	color: #fff;
}

.loader {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--bg-color);
}

:root {
    --bg-color: #000;
    --main-text-color: #fff;
    --description-color: rgba(255, 255, 255, 0.80);
    --social-button-color: #A3BFFA;
    --social-button-color-op: #869ed1;
}